<% @owners.each do |owner| %>

<div class="card mb-3" style="">
	<div class="card-header">
		<a href="/owners/<%= owner.id %>">Owner: <%= owner.name %>:</a>	
	</div>
	<ul class="list-group list-group-flush">
		<% owner.pets.each do |pet| %>
		<li class="list-group-item"><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
		<% end %>
	</ul>
</div>

<% end %>