
	<% @owners.each do |owner| %>
		<a href="/owners/<%= owner.id %>"><h1><%= owner.name %></h1></a>
		<% if !owner.pets.empty? %>
			<ol> <u>Pets</u>
				<% owner.pets.each do |pet| %>
				<li><%= pet.name %></li>
				<% end %>
			</ol>
		<% end %>
	<% end %>

	<p><a href="/owners/new" class="btn btn-secondary">create new owner</a></p>
	<p><a href="/pets/new" class="btn btn-secondary">create new pet</a></p>


