<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
	<div class="form-group">
		<label>Owner Name:</label>
		<input type="text" name="owner[name]" class="form-control">
	</div>

  <br>
  <p>Select an existing pet or create a new one below...</p>

  <h3>Existing Pets</h3>
  
  	<% @pets.each do |pet| %>
  	<div class="form-group form-check">
  	  <input class="form-check-input" type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%= pet.id %>">
  	  <label for="" class="form-check-label"><%= pet.name %></label>
  	  </div>
  	<% end %>
  

  <br>

  <h3>New Pet</h3>
  <div class="form-group">
  	<label>Pet Name: </label>
  	<input class="form-control" type="text" name="pet[name]" id="pet_name"></input>
  </div>


  <input type="submit" value="Create Owner" class="btn btn-success">
</form>
<br>
<a href="/owners" class="btn btn-secondary">owners</a>
