<h1><%=@owner.name%></h1>
<h4>Pets:</h4>
<ul>
  <%@owner.pets.each do |pet|%>
  <li><%=pet.name%></li>
  <%end%>
</ul>
<form action="/owners/<%=@pet.id%>/edit" method="get">
  <h2>Edit Owner</h2>
  <input type="submit" name="submit" value="Edit Owner">